{% extends 'base.html.twig' %}

{% block title %}Hello InvoiceController!{% endblock %}

{% block body %}
    {% include('./incs/header.html.twig') %}
    <div class="container mt-5">
        <h3>Click <a href="{{ path('app_invoice') }}">Here</a> to create an invoice</h3>
    </div>
{% endblock %}
